#columna_izquierda {
    width: 45%;
    display: inline-block;
    margin-left: 200px;
    /*float: left;*/
}

#columna_derecha {
    width: auto;
    margin-left: 100px;
    display: inline-block;
    /*border: 1px solid red;*/
    /*float: right;*/
}


section#columna_izquierda form#frm_registro_libros section label{
    font-size: 18px;
    margin-bottom: 20px;
    padding-right: 5px;
    display: inline-block;
    width: 100px;
    height: 24px;
}

section#columna_izquierda form#frm_registro_libros section input, section#columna_izquierda form#frm_registro_libros section select{
    font-size: 18px;
    margin-bottom: 20px;
    display: inline-block;
    width: 200px;
    height: 24px;
    border-radius: 0%;
    /*outline: 5px dotted green;*/
    border:1px solid white;
    outline-color:#6F1E51;
    outline-style: solid;
}

section#columna_izquierda form#frm_registro_libros section select{
    width: 205px;
    height: 28px;
}

main section button{
    display: block;
    background:#1B1464;
    padding: 10px;
    width: 225px;
    height: 70px;
    margin: 0 auto;
    font-size: 16px;
    color: white;
    border-radius: 5%;
    margin-top: 10px;
}

#btn_registrar:hover, #btn_seleccionar_imagen_portada:hover{
    /*color: #7ed6df;*/
    border-width: 4px;
    background-color: #0652DD;
}

h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#div_subir_portada{
    /*background-image: url("../img/portada_en_blanco.png");*/
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: inline-block;
}
#div_subir_portada{
    position: relative;
    top: 50px;
}
img{
    width: 100%;
    height: 100%;
}
article section#columna_derecha #div_subir_portada{
    display: inline-block;
    width: 250px;
    height: 250px;
    /*position: relative;*/
    /*top: 50px;*/
    border: 2px solid #6F1E51;
}

article section#columna_derecha #div_subir_portada, button{
    position: relative;
    top: 35px;
}